.container {
  margin: 0 auto;
  width: 550px;
  height: 550px;
  border: 3px solid black;
  position: relative;
}

.line-0 {
  background-color: green;
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 0px;
}

.line-1 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 50px;
}

.line-2 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 100px;
}

.line-3 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 150px;
}

.line-4 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 200px;
}

.line-5 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 250px;
}

.line-6 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 300px;
}

.line-7 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 350px;
}

.line-8 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 400px;
}

.line-9 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 450px;
}

.line-10 {
  height: 50px;
  width: 550px;
  position: absolute;
  bottom: 500px;
}

.player1 {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 3;
  background-image: url(../img/link.png);
  background-repeat: no-repeat
}

.tratwa_1-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_1-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_2-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_2-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_3-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_3-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_4-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_4-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_5-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_5-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_6-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_6-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_7-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_7-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_8-1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.tratwa_8-2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/raft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.trophie_1-1{
  width: 20px;
  height: 20px;
  /* background-image: url(../img/raft.png); */
  background-color: green;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.trophie_1-2{
  width: 20px;
  height: 20px;
  /* background-image: url(../img/raft.png); */
  background-color: yellow;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.trophie_1-3{
  width: 20px;
  height: 20px;
  /* background-image: url(../img/raft.png); */
  background-color: red;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.chest1{
  width: 35px;
  height: 35px;
  background-image: url(../img/chest.png);

  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
